{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>TabSquare Employees</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>TabSquare Employees</h1>   
{{ end }}